.counter {
  border-radius: 0.5rem !important;
  width: 78%;
}

progress[value] {
  border: 1px solid #707070;
}

progress::-webkit-progress-bar {
  background: white;
  border-radius: 0.5rem;
}

progress[value]::-webkit-progress-value {
  background: #59be80;
  border-radius: 0.5rem;
}

progress[value]::-moz-progress-bar{
  background: #59be80;
  border-radius: 0.5rem;
}
