body {
  background-color: #eceff1;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 2.5rem;
  border: 1px solid #707070;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 1.5rem;
}

.img-container img {
  width: 50%;
}

.question-title-container {
  font-family: 'Sakra';
  font-size: 1.5rem;
  background-color: #00a19a;
  color: white;
  border: 1px solid #707070;
  border-radius: 10px;
  text-align: center;
  padding: 1rem;
  margin: 0 1.5rem 1.5rem;
}

.answers-container {
  background-color: white;
  border: 1px solid #707070;
  border-radius: 10px;
  font-size: 25px;
  padding: 1rem;
  text-align: center;
  margin: 0 1.8rem 1rem;
}

.answers-container-selected {
  background-color: #00a19a;
  border: 1px solid #707070;
  border-radius: 10px;
  font-size: 25px;
  padding: 1rem;
  text-align: center;
  margin: 0 1.8rem 1rem;
}

.answers-container:hover {
  cursor: pointer;
}

.answer-input {
  margin: 0 121rem 0 0;
  display: none;
}

.check-result-button {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: #00a19a;
  border: 1px solid #707070;
  color: white;
  border-radius: 10px;
  padding: 0.5rem;
  font-size: 1rem;
}

.buttons-container {
  display: flex;
  justify-content: space-around;
}

.screen-pause{
  
  background-color: tomato;
  z-index: 1;
}

.counter-container{
  text-align: center;
  margin: 1rem ;
}